
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>UPI</title>
  <body>
<div class="text-center">
<div class="card">
  <div class="card-body">
    {% if amount %}
      <h2 class="card-title">Paying ₹{{amount}} to {{upi}}</h2>
      <img src="https://image-charts.com/chart?chs=150x150&cht=qr&chl=upi://pay?pa={{upi}}&am={{amount}}&choe=UTF-8" class="rounded mx-auto d-block" alt="upi qr code">
      <a href="upi://pay?pa={{upi}}&am={{amount}}" class="btn btn-primary">Pay Now</a>
      <a href="{{ url_for('index') }}" class="btn btn-primary">Create your UPI link</a><br><br>
      <p>Link: <a href="http://pay.vandit.cf/{{upi}}">http://pay.vandit.cf/{{upi}}/{{amount}}</a><br>
    {% else %}
      <h1 class="card-title">Paying to {{upi}}</h1>
      <img src="https://image-charts.com/chart?chs=150x150&cht=qr&chl=upi://pay?pa={{upi}}&choe=UTF-8" class="rounded mx-auto d-block" alt="upi qr code">
      <a href="upi://pay?pa={{upi}}" class="btn btn-primary">Pay Now</a>
      <a href="{{ url_for('index') }}" class="btn btn-primary">Create your UPI link</a><br><br>
      <p>Link: <a href="http://pay.vandit.cf/{{upi}}">http://pay.vandit.cf/{{upi}}</a><br>
    {% endif %}
    Note: you can share this link to receive payments</p>
  </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>